:root {
  --color1: #ff0420;
  --color2: #1a1e23;
  --color3: #fff;
}
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}

body {
  position: relative;
  overflow-x: hidden;
  background-color: var(--color1);
}
h1, h2, h3, h4, h5, p, li, span, a, footer {
  font-family: 'Rubik', sans-serif;
}
h1, h2, h3, h4, h5, footer {
  text-transform: uppercase;
  letter-spacing: 1px;
}
h5 {
  font-size: 1.6vw;
  color: var(--color3);
}
p {
  padding-top: .7vw;
  color: var(--color2);
}
a {
  font-size: 1.1vw;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
ol {
  list-style: decimal inside none;
}
