:root {
  --color1: #ff0420;
  --color2: #1a1e23;
  --color3: #fff;
  --color4: #eb001a;
  --color5: #d40019;
}
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}

body {
  position: relative;
  overflow-x: hidden;
  background-color: var(--color4);
}
h1,
h2,
h3,
h4,
h5,
p,
li,
span,
a,
footer,
strong,
button,
ol {
  font-family: 'Rubik', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
footer {
  text-transform: uppercase;
  letter-spacing: 0.07vw;
}
h5 {
  color: var(--color3);
}
p {
  padding-top: 0.75vw;
  color: var(--color2);
}
a {
  font-size: 1.1vw;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
ol {
  list-style: decimal inside none;
}
li {
  list-style-position: inside;
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: center;
  padding: 1rem 1.5rem;
  border: 0.2vw solid var(--color1);
  font-size: calc(0.7vw + 0.3rem);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05vw;
  background-color: var(--color4);
  color: var(--color3);
  transition: background-color 0.2s ease-out, color 0.2s ease-out, border-color 0.2s ease-out;
  cursor: pointer;
}
.button:hover {
  background-color: var(--color3);
  color: var(--color1);
  border-color: var(--color1);
}
.button2:hover {
  border-color: var(--color3);
  color: var(--color1);
  background-color: var(--color3);
}
.button3 {
  border-color: var(--color3);
  color: var(--color3);
  background-color: var(--color1);
}
.button4 {
  border: 0;
  color: var(--color3);
  background-color: var(--color2);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(0.8vw + 2rem) calc(1.6vw + 0.5rem);
}
.logo {
  width: 4.5vw;
}
.stars-hero-bar > div {
  width: 2vw;
}
.infographic-image {
  width: calc(4.5vw + 1.5rem);
  height: calc(4.5vw + 1.5rem);
}
.footer-stars {
  width: 2vw;
}
.shield {
  width: 15vw;
  height: 15vw;
}
.cookies {
  display: none;
}
.cookies.undefined {
  display: flex;
}
div > .privacy-button {
  padding: clamp(0.5rem, 1vw, 1rem) clamp(0.75rem, 1.5vw, 1.5rem);
  font-size: clamp(0.75rem, 0.9vw, 1rem);
}

@media (orientation: portrait) {
  html {
    overflow-x: hidden;
  }
  body {
    position: relative;
    overflow-x: hidden;
  }
  p {
    padding-top: 1.5vw;
  }
  .logo {
    width: 24vw;
  }
  .stars-hero-bar > div {
    width: 8vw;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  footer {
    letter-spacing: 0.14vw;
  }
  .button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    letter-spacing: 0.2vw;
  }
  .shield {
    width: 35vw;
    height: 35vw;
  }
  footer {
    position: relative;
    flex-direction: column;
    padding: 9vw 3vw;
  }
  .footer-stars {
    width: 3rem;
    margin: 2rem 0;
  }
  .privacy-button {
    height: 10vw;
  }
}

@media (max-width: 1023px) {
  .infographic-image {
    width: 20vw;
    height: 20vw;
  }
}
