:root {
  --color1: #ff0420;
  --color2: #1a1e23;
  --color3: #fff;
}
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}

body {
  position: relative;
  overflow-x: hidden;
  background-color: var(--color1);
}
h1, h2, h3, p, li, span, a {
  font-family: 'Rubik', sans-serif;
  color: var(--color3)
}
h1, h2 {
  text-transform: uppercase;
}
a {
  font-size: 1.1vw;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
